* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}
.glass {
  background: #fff;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: #fff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 15%;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.games {
  flex: 2;
}
.link {
  display: flex;
  margin: 1rem 0rem;
  padding: 0 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 2rem;
}
.pro {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  margin: 0 1rem;
}
.pro h2 {
  color: #fff;
  font-weight: 700;
}
/* GAMES */
.status {
  margin-bottom: 3rem;
}
.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  outline: none;
  border: none;
  padding: 0.4rem;
  border-radius: 2rem;
  width: 50%;
}
.games {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2.2rem;
}
.card {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.315)
  );
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 0.7rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}
.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 150%;
  height: 15%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(245, 245, 245);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #45d4ba, #50cde0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}